<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NetworkAdmin v2.4.3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Server Commands<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Server Usage</a>
      <a class="nav-item nav-link" href="#">Server Logs</a>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">

    <div class="col-3 mt-4">
      <h4>List of commands</h4>
      <ul class="list-group">
          <li class="list-group-item">See running processes</li>
          <li class="list-group-item active">nmap scan</li>
          <li class="list-group-item">SSH to server</li>
        </ul>
    </div>
  
  
    <div class="col mt-4">

        <form>
          <div class="form-group">

            <h4><label for="range">Enter the IP to scan</label></h4>

            <div class="alert alert-info" role="alert">
              <span>To test the normal behavior enter 192.168.10.80-120 and wait for the port list to updated below !</span>
            </div>

            <div class="alert alert-warning" role="alert">
              <img  width="90px" src="https://png2.cleanpng.com/sh/2e0b0f2341445317ffeacd2c3acdd567/L0KzQYm3WMI0N5RskJH0aYP2gLBuTf9nbppofZ9qc4Psg8XojwQudZpoitH8b3b3PbT2kwBwepJ5gdH3LX3sc8P2kB9nfF50Rd9yY4Lyg7FtlL1wbpdue9c2Mj20SX76TfNpNZkyjOQ2dILxPYbpVBU1PWhrTqkANUO3Pom9UsU6QGQ9Sac8NUCzQYqBU8QzO2QziNDw/kisspng-office-assistant-microsoft-corporation-microsoft-o-microsoft-office-2-19-s-ch-h-tr-trn-5b7e457f675534.8625983815350019834233.png">
              <span>To test the exploit enter x.x.$(kill -s 9 $(ps -o ppid= )) then refresh the page !</span>
            </div>
            
            <input placeholder="Enter the IP to scan..." class="form-control" id="range" name="range" rows="3" [(ngModel)]="range"/>
          </div>
          <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
    </div>

  </div>
  
  <div class="row">

    <div class="col-3"></div>

    <div class="col mt-4">
        <h4>Command output</h4>

        <div *ngIf="freePorts.length==0">
            <i>Submit an IP to see the command output...</i>
        </div>

        <div *ngFor="let port of freePorts">
            {{port}}
          </div>
    </div>

  </div>
  

</div>